/target
.idea/
.env
.git
.ras
#aider
#aider/tests
#aider/website
references/
refactoring-assistant-ui
.ras/index_lod_3.yaml
.ras/logs/
.ras/logs/**/*.yaml
.ras/prompts/
scratchpad/
references/
*.ndjson
__pycache__
target